huggingface_hub==0.25.2
langchain_ollama
langchain
huggingface_hub
langchain_huggingface
langchain_mistralai
transformers
langchain_core
langchain_community
langchain_text_splitters
accelerate
watchdog
tqdm
